[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "submodules/glm"]
	path = submodules/glm
	url = git@github.com:g-truc/glm.git
[submodule "submodules/box2d"]
	path = submodules/box2d
	url = git@github.com:erincatto/box2d.git
